<div th:replace="common/header.html :: header(link = 'product')"></div>
<h1>Product details</h1>

<ul class="list-group">
  <li class="list-group-item" th:text="|Id: ${product.id}|"></li>
  <li class="list-group-item" th:text="|Name: ${product.name}|"></li>
  <li class="list-group-item" th:text="|Brand: ${product.brand}|"></li>
  <li class="list-group-item" th:text="|Price + ${product.price}|"></li>
  <li class="list-group-item"><img
      height="300px"
      th:src="@{/img/{productId}.jpg(productId=${product.id})}" alt=""></li>
</ul>

<a class="btn btn-danger" th:href="@{/product/{id}/delete(id=${product.id})}">Delete</a>

<div th:replace="common/footer"></div>
