<div th:replace="common/header"></div>
<h1>Products list</h1>

<div class="action-button-section">
  <a class="btn btn-primary" th:href="@{/product/add}">Add Product</a>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Details</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${products}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td>
      <a class="btn btn-info"
           th:href="@{/product/{productId}(productId=${product.id})}">Details</a>
      <a class="btn btn-info"
         th:href="@{/product/{productId}/edit(productId=${product.id})}">Edit</a>
    </td>
  </tr>
  </tbody>
</table>

<div th:replace="common/footer"></div>