<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="/css/bootstrap-grid.css">
  <link rel="stylesheet" href="/css/shards.css">
  <link rel="stylesheet" href="/css/shards-extras.css">
  <title>Product Management</title>
</head>
<body>

<p>Hello World</p>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/shards.js"></script>
</body>

</html>